<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Eat That PokeBurger!</title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		
	</head>
	<body>
		{{{ body }}}
	</body>
	<footer>gifs designed by: <a href="https://dribbble.com/shots/1740890-GIF-Pikachu-Burger">Cindy Suen</a>, <a href="https://dribbble.com/shots/2279269-AE-Practice-Pikachu">Dustin Hysinger</a>, and <a href="https://dribbble.com/shots/3765434-The-Burger">Dustin Hysinger </a> App owned by: <a href="https://github.com/refindthetime/eatThatPokeBurger">Derek Cassel</a> </footer>
</HTML>
